<nav>
    <ul class="main-menu">
        <li class="active"><a href="{%url 'user_profile' slug=slug%}">timeline</a></li>
        <li><a href="{%url 'about' slug=slug%}">about</a></li>
        <li><a href="{%url 'my_photos' slug=slug%}">photos</a></li>
        <li><a href="{%url 'following_friends' slug=slug%}">friends</a></li>
        <li><a href="{%url 'all_feeds'%}">more</a></li>
        <!-- <li class="d-inline-block d-md-none"><a href="profile.html">edit profile</a></li> -->
    </ul>
</nav>